<div class="side-nav">
  <img
    class="icon-nav btn icon-nav-selected"
    src="../../../assets/icons/compass-regular.svg"
    alt="compass icon"
  />
  <img
    class="icon-nav btn"
    src="../../../assets/icons/house-solid.svg"
    alt="house icon"
  />
  <img
    class="icon-nav btn"
    src="../../../assets/icons/message-solid.svg"
    alt="message icon"
  />
  <img
    class="icon-nav btn"
    src="../../../assets/icons/map-solid.svg"
    alt="map icon"
  />
  <img
    class="icon-nav btn"
    src="../../../assets/icons/chart-simple-solid.svg"
    alt="chart icon"
  />
  <img
    class="icon-nav btn"
    src="../../../assets/icons/table-columns-solid.svg"
    alt="tab icon"
  />
</div>
