.btn {
  cursor: pointer;
}

.card {
  width: 25rem;
  height: 9rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  box-shadow: 0 0 15px lightgray;
  box-sizing: border-box;
  padding: 0 1rem;
}

.content-container {
  width: calc(100vw - 34rem);
}

@media screen and (max-width: 1600px) {
  .content-container {
    width: calc(100vw - 6rem);
  }
}
